<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <nav class="navigation">
        <div class="navigation__title">JACKETS</div>
        <div class="navigation__search">
          <div class="navigation__filter">
            <label class="navigation__label">FILTER BY</label>
            <select class="navigation__select">
              <option>Jacket</option>
              <option>Jacket2212</option>
              <option>Jacket2213</option>
            </select>
          </div>
          <div class="navigation__sort">
            <div class="navigation__sort">
              <label class="navigation__label">SORT BY</label>
              <select class="navigation__select">
                <option>by price</option>
                <option>by date</option>
              </select>
            </div>
          </div>
        </div>
      </nav>

      <section class="products">
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <div class="product">
          <span class="product__sale"></span>
          <div class="product__img">
            <img
              class="image"
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_305x.jpeg?v=1445623366"
              alt="Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
